<div ng-controller="FoldersController" class="folders">
    <md-button ng-if="!emailAddress" ng-click="newAccount()" class="folder-menu-btn action-btn">
        <span>New account</span>
        <md-icon>&#xf055;</md-icon>
    </md-button>
    <div ng-if="emailAddress" ng-drop="dropFolderOnRoot($data)">
        <div context-menu="accountMenu" class="account-label">
            {{emailAddress}}
        </div>
    </div>
    <div class="folders-flex">
        <div class="folders-container">
            <form ng-if="new" ng-submit="newFolder()" class="new-folder-form">
                <input type="text" ng-model="new.name" auto-focus ng-blur="newFolder()" class="edit-folder-control">
            </form>
            <folder ng-repeat="folder in root.children" model="folder" selected="selected" states="folderStates">
            </folder>
        </div>
    </div>
    <md-button ng-if="emailAddress" ng-click="newEmail()" class="folder-menu-btn new-email-btn action-btn">
        <span>New email</span>
        <md-icon>&#xf055;</md-icon>
    </md-button>
</div>