<div ng-controller="FoldersController" class="folders">
    <div ng-drop="dropFolderOnRoot($data)">
        <div context-menu="accountMenu">
            <md-menu class="account-label">
                <span>{{emailAddress}}</span>
                <md-menu-content width="4" hidden></md-menu-content>
            </md-menu>
        </div>
    </div>
    <div class="folders-flex">
        <div class="folders-container">
            <form ng-if="new" ng-submit="newFolder()" class="new-folder-form">
                <input type="text" ng-model="new.name" auto-focus ng-blur="newFolder()" class="edit-folder-control">
            </form>
            <folder ng-repeat="folder in root.children" model="folder" selected="selected" states="folderStates">
            </folder>
        </div>
    </div>
    <md-button ng-click="newEmail()" class="new-email-btn">
        <span>New e-mail</span>
        <md-icon>&#xf055;</md-icon>
    </md-button>
</div>