
<md-list-item ng-class="{'md-selected': folder==selectedFolder}" ng-click="folderClicked(folder)" class="md-list-folder">
    <div class="md-list-item-text" layout="column">
        <p>
            {{folder.name}}
            <span ng-if="hasChildren()" style="float: right">
                <button ng-if="folder.closed === undefined" ng-click="close($event)" class="folder-hide-btn">-</button>
                <button ng-if="folder.closed !== undefined" ng-click="open($event)" class="folder-hide-btn">+</button>
            </span>
        </p>
    </div>
</md-list-item>
<div ng-if="hasChildren()" ng-style="{ height: (folder.closed === undefined ? getHeight() : 0) + 'px' }" class="folder-group animate-folder-group">
    <mailbox-folder ng-repeat="child in folder.children" model="child" selected-folder="selectedFolder" folder-clicked="folderClicked"></mailbox-folder>
</div>