<!--<md-toolbar layout="row">
    <div class="md-toolbar-tools">
        <div id="top-menu-area" ng-show="loggedIn">
            <span style="cursor: pointer;" ng-click="newEmail()">New message</span>
        </div>
        <span flex=""></span>
        <div ng-controller="LoginController" id='login-area' ng-hide="loggedIn" page>
            <input type="text" width="100" placeholder="username" ng-model="formUserName">
            <input type="password" width="100" placeholder="password" ng-model="formPassword">
            <button id="loginbtn" ng-click="login()" ng-disabled="loginInProgress">Login</button>
        </div>
        <div id='user-area' ng-show="loggedIn">
            <span>Welcome {{userName}}
        </div>
    </div>
</md-toolbar>-->
<div flex layout="row" class="main-row toastBounds">
    <md-sidenav ng-click="ul.toggleList()" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="folders-nav md-whiteframe-z2" >
        <div ng-controller="FoldersController" page>
            <md-menu class="account-label">
                <span ng-click="$mdOpenMenu($event)">{{emailAddress}}</span>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button>{{emailAddress}}</md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ng-click="editAccount()">Account settings</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="logout()">Logout</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <mailbox-folder ng-repeat="folder in root.children" model="folder" selected-folder="selectedFolder" folder-clicked="folderClicked" updated-folders="updatedFolders">
            </mailbox-folder>
            <md-button ng-click="newEmail()" class="new-email-btn">
                New e-mail
                <md-icon>&#xf055;</md-icon>
            </md-button>
        </div>
    </md-sidenav>
    <md-sidenav ng-click="ul.toggleList()" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="md-whiteframe-z2">
        <div ng-controller="EmailsController" page>
            <md-list class="md-list-email">
                <md-list-item class="md-2-line" ng-repeat="email in emails" ng-class="{'md-selected': email.uid==selectedEmail}" ng-click="emailClicked(email)">
                    <div class="md-list-item-text" layout="column">
                        <p>
                            <i class="email-from">{{email.envelope.from[0].name || email.envelope.from[0].address}}</i>
                            <span class="email-date">{{formatEmailDate(email.envelope.date)}}</span>
                        </p>
                        <h3 class="email-subject">{{email.envelope.subject}}</h3>
                    </div>
                </md-list-item>
            </md-list>
            <section layout="row" layout-align="center center" layout-wrap>
                <md-button class="md-icon-button" aria-label="Previous page" ng-disabled="page == 0" ng-click="prevPage()">
                    <md-icon>&#xf0d9;</md-icon>
                </md-button>
                <span>Page {{page + 1}}</span>
                <md-button class="md-icon-button" aria-label="Next page" ng-disabled="emails.length < 9" ng-click="nextPage()">
                    <md-icon>&#xf0da;</md-icon>
                </md-button>
            </section>
        </div>
    </md-sidenav>
    <md-content ng-controller="ReaderController" flex class="email-area" page>
    </md-content>
</div>