<div ng-controller="LoginController" page>
    <div class="login-content">
        <form ng-submit="login()" novalidate>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Username</label>
                <input type="text" ng-model="account.username">
                <div class="hint">eg. john.smith@gmail.com</div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Password</label>
                <input type="password" ng-model="account.password">
                <div class="hint">your account's current password</div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Imap host name</label>
                <input type="text" ng-model="account.imapHost">
                <div class="hint">eg. imap-mail.outlook.com</div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Imap port</label>
                <input type="number" ng-model="account.imapPort">
                <div class="hint">given by the host, eg. 993</div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>SMTP host name</label>
                <input type="text" ng-model="account.smtpHost">
                <div class="hint">eg. smtp.live.com</div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>SMTP port</label>
                <input type="number" ng-model="account.smtpPort">
                <div class="hint">given by the host, eg. 587 or 25</div>
            </md-input-container>
            <md-input-container ng-if="serverUrlEnabled" class="md-block" flex-gt-sm>
                <label>Email server URL</label>
                <input type="text" ng-model="account.serverUrl">
                <div class="hint">for beta version, eg. 192.168.0.15</div>
            </md-input-container>
            <md-button type="submit" class="action-btn login-btn" ng-disabled="loginInProgress">Login</md-button>
        </form>
    </div>
</div>