<div ng-controller="ReaderController" class="reader">
    <md-card ng-if="email" class="email-header">
        <md-progress-linear ng-if="downloadsInProgress[email.id]" md-mode="query"></md-progress-linear>
        <md-card-content>
            <p class="email-header-subject">{{email.subject}}</p>
            <p class="email-header-from">from {{formatContact(email.senderName, email.senderEmail)}}</p>
            <p class="email-header-to">
                <span>to {{formatContact(email.recipientName, email.recipientEmail)}}</span>
                <span ng-repeat="ccRecipient in email.ccRecipients">, {{formatContact(ccRecipient.name, ccRecipient.email)}}</span>
            </p>
            <p class="email-header-date">sent at {{formatEmailDate(email.date)}}</p>
            <p  ng-if="email.attachments.length > 0" class="email-header-attachments">
                attachments: 
                <a href ng-repeat="attachment in email.attachments" ng-click="download(attachment)" class="btn-attachment">
                    {{attachment.name}} ({{attachment.size | bytes}})
                </a>
            </p>
        </md-card-content>
        <md-card-actions>
            <div action-buttons>
                <div class="action-buttons-content">
                    <md-button ng-click="reply()">Reply</md-button>
                    <md-button ng-if="email.ccRecipients.length > 0" ng-click="replyAll()">Reply All</md-button>
                    <md-button ng-click="forward()">Forward</md-button>
                    <md-button ng-click="delete()">Delete</md-button>
                </div>
            </div>
        </md-card-actions>
    </md-card>
    <div ng-show="email" class="email-area">
        <iframe id="email-frame" sandbox="allow-scripts allow-same-origin" src="about:blank"></iframe>
    </div>
</div>