<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>New account</title>
    <script>
        require('angular');
        require('angular-aria');
        require('angular-animate');
        require('angular-material');
        const ipcRenderer = require('electron').ipcRenderer;
        const remote = require('remote');
    </script>
    <script src="lib/jquery.min.js"></script>
    <script src="lib/tinymce/tinymce.min.js"></script>
    <script src="lib/angular/angular-ui-tinymce.min.js"></script>
    <script src="js/index.js"></script>
    <script src="js/app.js"></script>
    <script src="js/master.service.js"></script>
    <script src="js/app.service.js"></script>
    <script src="js/mailbox.service.js"></script>
    <script src="controllers/login.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/angular-material.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
  </head>
  <body ng-app="emailApp" class="newEmail" ng-controller="LoginController">
    <md-content class="login-content">
        <md-input-container class="md-block envelope-input subject-input" flex-gt-sm>
            <label>Username</label>
            <input type="text" ng-model="account.username">
            <div class="hint">eg. john.smith@gmail.com</div>
        </md-input-container>
        <md-input-container class="md-block envelope-input subject-input" flex-gt-sm>
            <label>Password</label>
            <input type="password" ng-model="account.password">
            <div class="hint">your account's current password</div>
        </md-input-container>
        <md-input-container class="md-block envelope-input subject-input" flex-gt-sm>
            <label>Imap host name</label>
            <input type="text" ng-model="account.imapHost">
            <div class="hint">eg. imap-mail.outlook.com</div>
        </md-input-container>
        <md-input-container class="md-block envelope-input subject-input" flex-gt-sm>
            <label>Imap port</label>
            <input type="number" ng-model="account.imapPort">
            <div class="hint">given by the host, eg. 993</div>
        </md-input-container>
        <md-input-container class="md-block envelope-input subject-input" flex-gt-sm>
            <label>SMTP host name</label>
            <input type="text" ng-model="account.smtpHost">
            <div class="hint">eg. smtp.live.com</div>
        </md-input-container>
        <md-input-container class="md-block envelope-input subject-input" flex-gt-sm>
            <label>SMTP port</label>
            <input type="number" ng-model="account.smtpPort">
            <div class="hint">given by the host, eg. 587 or 25</div>
        </md-input-container>
        <md-button class="login-btn" ng-click="login()" ng-disabled="loginInProgress">Login</md-button>
    </md-content>
  </body>
</html>
