html, body {
    height: 100%;
    max-height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background: white;
}

/* Content style */

md-content {
    height: 100%;
    background: white;
}

/* Folders style */

.md-unseen * {
    font-weight: bold !important;
}

.account-label {
    font-size: 14px;
    display: block;
    cursor: pointer;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.small-text {
    font-size: 14px;
}

.md-list-folder p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.md-list-folder {
    margin-left: -30px !important;
    padding-left: 30px !important;
}
.md-list-folder div.md-button {
    padding-right: 0 !important;
    margin-left: -30px !important;
    padding-left: 46px !important;
}

/*Emails style*/

.email-from {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: calc(100% - 65px);
}
.email-subject {
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.email-date {
    float: right;
}
.email-from, .email-date {
    color: rgba(0,0,0,0.54);
}
.md-list-email-content {
    width: 100%;
}
.md-list-email-content p {
    line-height: initial;
    margin: 0;
}

/* New email page (new.html) */

.new-email {
    height: 100%;
}

.envelope-input.subject-input {    
    margin-bottom: -10px;
}


/* Login page */

.login-content {
    height: calc(100% - 20px);
    padding: 10px;
}

.hint {
    /* Position the hint */
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: grey; 
}

.login-content md-input-container {    
    margin-bottom: -10px;
}

.new-email table {
    padding: 0px;
    margin: 0px;
    width: 100%;
}
.new-email tr {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

/* Email header style */
.email-header {
    margin: 5px 5px 5px 7px;
}
.email-header p {
    margin: 7px 0px 0px 0px;
    font-size: 15px;
}
.email-header p.email-header-subject {
    font-size: 20px;
}
.btn-attachment {
    color: black;
    text-decoration: none;
}
.btn-attachment:hover {
    text-decoration: underline;
}
.email-header md-progress-linear {
    width: 100%;
    margin-bottom: -5px !important;
}