*:not(input):not(textarea):not(*[contenteditable]) {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-content-zooming: none;
}

html, body, .app {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

iframe {
    height: 100%;
    width: 100%;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

.header {
    position: fixed;
    width: 100%;
    height: 60px;
}
.body {
    padding-top: 60px;
    width: 100%;
    height: calc(100% - 60px);
    overflow: auto;
}

.body > * {
    height: 100%;
    width: 100%;
}

.body > * > * {
    height: 100% !important;
}

md-icon {
    display: none !important;
}
md-contact-chips md-icon {
    display: inline-block !important;
}
.utf-icon {
    font-size: 30px;
}

/* Common things */

.action-btn, .action-buttons {
    position: absolute;
    top: 7px;
    right: 0px;
    z-index: 2;
    color: white;
}

.action-buttons {
    top: 15px;
    cursor: pointer;
    font-size: 21px;
    width: 50px;
    text-align: center;
    height: 45px;
    outline: 0px solid transparent;
}
.action-buttons:before {
    content: "\271A";
}
.action-buttons .action-buttons-content {
    display: none;
}
.action-buttons.action-buttons-active .action-buttons-content {
    position: absolute;
    left: -102px;
    top: 45px;
    width: 150px;
    display: block;
    opacity: 1;
    background-color: white;
    color: black;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
    transition: all .4s cubic-bezier(.25,.8,.25,1);
    transition-duration: .2s;
}
.action-buttons-content > button {
    display: block;
    width: 100%;
}

/* Folder list styles */

.folders-flex {
    height: calc(100% - 50px);
    overflow: auto;
}
.account-label {
    padding: 15px 0px 0px 10px;
    height: 34px;
    font-size: 16px;
}
.folder-group {
    padding-left: 20px;
}

/* Email list style */

.email-from, .email-date {
    font-size: 15px;
    margin-bottom: 10px;
}

.emails-footer {
    position: fixed;
    bottom: 0;
    text-align: center; 
    width: 100%;
}

.emails-footer > * {
    display: inline-block;
}

.emails-footer md-progress-linear {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
}

.md-list-email-content {
    padding: 15px 0px;
}

.md-list-email-content p {
    line-height: 16px;
}

.md-list-email-padding {
    min-height: 75px;
}

/* Reader style */
.reader {
    height: calc(100% - 5px);
} 
.email-header {
    height: 60px;
    margin: 0px 2px 2px 2px;
}
.email-header-from, .email-header-to, .email-header-date, .email-header-attachments {
    display: none;
}
.email-header-subject {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 18px;
    margin-top: 5px !important;
}
.email-area {
    height: calc(100% - 65px);
}

/* App bar styles */
.header {
    background-color: #4286f5;
    color: white;
    box-shadow: 0 1px 3px #888888;
    z-index: 1;
}
.header-back {
    position: absolute;
    font-weight: bold;
    height: 60px !important;
    width: 60px !important;
    position: relative !important;
    z-index: 1;
    font-size: 21px;
}
.header-title {
    font-weight: bold;
    position: absolute;
    right: 60px;
    left: 60px;
    top: 21px;
    text-align: center;
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.status-bar md-progress-linear {
    position: absolute;
    left: 0px;
    top: 55px;
    width: 100%;
}
.status-bar > span {
    display: none;
}

/* New Email */

md-virtual-repeat-container {
    left: 5px !important;
    width: calc(100% - 10px) !important;
    min-width: calc(100% - 10px) !important;
    max-width: calc(100% - 10px) !important;
}
.btn-bcc {
    display: none !important;
}
.btn-attach {
    display: none !important;
}
.new-attachment {
    display: none;
}
.new-email-text {
    min-height: 200px;
    width: calc(100% - 10px);
    padding: 5px;
}