*:not(input):not(textarea) {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-content-zooming: none;
}

/*@-ms-viewport {
    width: 80%; 
}*/

/*html, body {
    -ms-user-select: none;
    -ms-content-zooming: none;
    -ms-touch-action: none;
}*/

html, body, .app {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

iframe {
    height: 100%;
    width: 100%;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

.header {
    position: fixed;
    width: 100%;
    height: 60px;
}
.body {
    position: absolute;
    top: 60px;
    width: 100%;
    height: calc(100% - 60px);
    overflow: auto;
}

.body > * {
    position: relative;
    height: 100%;
    width: 100%;
}

.body > * > * {
    height: 100% !important;
}

md-icon {
    display: none !important;
}
.utf-icon {
    font-size: 30px;
}

/* Common things */

#login-area input, #login-area button {
    width: calc(100% - 10px);
    display: block;
    height: 30px;
    margin: auto;
}
#login-area {
    padding-top: 20px;
}

#new-btn {
    height: 40px;
    background: #8080D8;
    color: white;
    width: 100%;
    border: 0px;
}

.new-email-text {
    height: 100%;
    width: 100%;
    border-color: rgba(0, 0, 0, 0.117647);
}

.md-list-email-padding {
    min-height: 71px;
}

.login-btn {
    margin-top: 20px !important;
    float: right;
}

.new-email-btn md-icon {
    display: none;
}

/* Folder list styles */

.folders-flex {
    height: calc(100% - 50px - 50px);
    overflow: auto;
}
.account-label {
    padding: 15px 0px 0px 10px;
    height: 34px;
    font-size: 16px;
}
.md-list-folder {
    min-height: 0px;
    max-height: 68px;
}
.folder-group {
    padding-left: 20px;
}
.new-email-btn {
    font-size: 16px !important;
    height: 50px;
}

/* Email list style */

.email-from, .email-date {
    font-size: 15px;
    margin-bottom: 10px;
}

.emails-footer {
    position: fixed;
    bottom: 0;
    text-align: center; 
    width: 100%;
}

.emails-footer > * {
    display: inline-block;
}

.emails-footer md-progress-linear {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
}

.md-list-email-content {
    padding: 15px 0px;
}

/* Reader style */
.reader {
    height: calc(100% - 5px);
} 
.email-header {
    height: 189px;
}
.email-header p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.email-area {
    height: calc(100% - 200px);
}

/* App bar styles */
.header {
    background-color: #4286f5;
    color: white;
    box-shadow: 0 1px 3px #888888;
}
.header-back {
    position: absolute;
    font-weight: bold;
    height: 60px !important;
    width: 60px !important;
    position: relative !important;
    z-index: 1;
    font-size: 21px;
}
.header-title {    
    font-weight: bold;
    position: absolute;
    right: 30px;
    left: 30px;
    top: 21px;
    text-align: center;
    font-size: 18px;
}
.status-bar md-progress-linear {
    position: absolute;
    left: 0px;
    top: 55px;
    width: 100%;
}
.status-bar > span {
    display: none;
}

/* New Email */

md-virtual-repeat-container {
    left: 5px !important;
    width: calc(100% - 10px) !important;
    min-width: calc(100% - 10px) !important;
    max-width: calc(100% - 10px) !important;
}
.btn-bcc {
    display: none !important;
}
.btn-attach {
    display: none !important;
}
.new-attachment {
    display: none;
}