html, body {
    height: 100%;
    max-height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

/* Content style */

md-content {
    height: 100%;
}

/* New email button style */

.new-email-btn {
    width: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
    text-align: left !important;
    border-top: 1px solid rgba(0,0,0,.2) !important;
}
.new-email-btn md-icon {    
    float: right;
    position: relative;
    top: 12px;
    right: 10px;
}
.new-email-btn span {
    text-transform: initial;
    padding-left: 15px;
}

/* Folders style */

.md-unseen p, .md-unseen h3 {
    font-weight: bold !important;
}

.account-label > span {
    font-size: 14px;
    padding: 10px 0px 10px 10px;
    display: block;
    cursor: pointer;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.small-text {
    font-size: 14px;
}

.md-list-folder p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.md-list-folder .md-list-item-text {
    width: 100%;
}
.md-list-folder .md-button {
    margin-left: -30px;
    padding: 0px 16px 0 46px;
}
.folder-hide-btn {
    border: 1px solid #A0A0A0;
    color: #A0A0A0;
    border-radius: 3px;
    background: transparent;
}
.animate-folder-group {
    -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    -webkit-transition-property: height;
    -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    -moz-transition-property: height;
    transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    transition-property: height;
    overflow: hidden;
}
/*.animate-folder-group.ng-enter, .animate-folder-group.ng-leave.ng-leave-active {
  max-height: 0px;
}
.animate-folder-group.ng-enter.ng-enter-active, .animate-folder-group.ng-leave {
  max-height: 1000px;
}*/

/* Email list element style */

.email-from {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: calc(100% - 65px);
}
.email-date {
    float: right;
}

/* New email page (new.html) */

.new-email {
    height: 100%;
}

.envelope-input.subject-input {    
    margin-bottom: -10px;
}


/* Login page */

.login-content {
    height: calc(100% - 20px);
    padding: 10px;
}

.hint {
    /* Position the hint */
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: grey; 
}

.login-content md-input-container {    
    margin-bottom: -10px;
}

/*New email old */
.new-email table {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}
.new-email tr {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

/* Email header style */
.email-header {
    margin: 5px 5px 5px 7px;
}
.email-header p {
    margin: 7px 0px 0px 0px;
    font-size: 15px;
}
.email-header p.email-header-subject {
    font-size: 20px;
}